// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@mixin vertical-center-absolute {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

$color-success: #7367F0;

.user-pic {
    i {
        font-size: 40px;
        margin: 0;
    }

    &.absolute-pic {
        i {
            @include vertical-center-absolute;
            left: 0;
        }
    }
}

.dropdown {
    > .dropdown-menu {
        z-index: 12;
    }
}

.aggrid {
    &.ag-auto-height {
        height: auto;
    }
    .user-pic {
        display: block;
        position: relative;
        height: 45px;

        &.pic-sm {
            height: 30px;
            width: 30px;
            i {
                font-size: 30px;
            }
        }
    }
}

button.btn-remove {
    font-size: 22px;
    color: #EA5455!important;
}

.select2.select2-container.select2-container--default {
    width: 100%!important;
}

// Fullcalendar
a[data-goto]:not([href]):not([tabindex]) {
    color: $color-success;
}

.aggrid {
    &.totals-rows {
        .ag-floating-bottom {
            /*.ag-row {
                pointer-events: none;
            }*/
            .ag-row:first-child {
                border-top: 2px solid $color-success;
            }
        }
    }
    &.total-row {
        .ag-floating-bottom {
            .ag-row {
                border-top: 2px solid $color-success;
                font-weight: bold;
            }
        }
    }
}

table.total-rows {
    tbody {
        tr:nth-last-of-type(4) {
            border-top: 3px solid $color-success;
        }
    }
}

.picker {
    min-width: 280px;
}

/*table.dataTable {
    width: 100%!important;
}*/

.password-input-container {
    display: flex;
    position: relative;
    flex: 1 1 auto;
}

.password-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hide-show-password {
    font-size: 18px;
    padding-right: 5px;
    top: 6px;
    right: 0;
    position: absolute;
    cursor: pointer;
}

#logo-preview {
    background-position: center center;
    background-size: cover;
    //border: 5px solid #eee;
    background-color: #f8f8f8;
    text-align: center;
    position: relative;
    i {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        font-size: 50px;
        transform: translateY(-50%);
    }
}
#imageUpload {
    display: none;
    & + label {
        position: absolute;
        left: 0;
        cursor: pointer;
        z-index: 1;
    }
}
#logo-preview, #imageUpload + label {
    height: 90px;
    width: 90px;
    margin: 0 auto;
}

.custom-file-input {
    ~ {
        .custom-file-label::after {
            content: "Buscar";
        }
    }
}

.popover {
    .popover-body {
        .list-group {
            > .list-group-item {
                > .btn-link {
                    > i {
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }
    }
}
