/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-heading {
    text-align: center;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox */
.k-checkbox-normalize {
    margin: 0 !important;
}

.k-checkbox {
    display: inline-block !important;
    width: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.k-checkbox > input {
    display: none;
}

.k-checkbox > div {
    transition: var(--main-t);
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--light);
    border: 2px solid var(--lighter);
    position: relative;
}

.k-checkbox:hover > div {
    border: 2px solid var(--default);
    background-color: var(--primary);
}

.k-checkbox > div > span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--fs-xs);
    position: relative;
    width: 100%;
    height: 100%;
    transition: var(--main-t);
    opacity: 0;
    overflow: hidden;
}

.k-checkbox > input:checked ~ div {
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

.k-checkbox > input:checked ~ div > span {
    opacity: 1;
}

.k-checkbox > input:checked ~ div > span > i {
    animation: oos-checkbox-animation 0.6s;
}

.k-checkbox-circle {
    border-radius: 50%;
}

.k-checkbox-circle > div {
    border-radius: 50%;
}

.k-checkbox-circle > div > span > i {
    width: 50%;
    height: 50%;
    position: relative;
    border-radius: 50%;
    background-color: white;
    transform: scale(0);
    transition: var(--main-t);
}

.k-checkbox-circle > div > span > i:before {
    display: none;
}

.k-checkbox-circle > input:checked ~ div > span > i {
    transform: scale(1);
    animation: none;
}

.k-checkbox-circle > input:checked ~ div > span > i:before {
    display: none;
}

.k-checkbox-text {
    display: inline-flex !important;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.k-checkbox-text > span {
    display: inline-block;
    color: black;
    font-weight: var(--fw-regular);
    font-size: var(--fs-rl);
    margin-left: 10px;
}
