.photo-preview {
    position: relative;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    background-color: #36b977;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.photo-preview.upload {
    overflow: hidden;
    background-color: rgba(200, 218, 223, 0.5);
    border: 0;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

.photo-preview.upload:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px dashed #3cb878;
    transition: all 100ms ease !important;
    z-index: 0;
    pointer-events: none;
}

.photo-preview.upload .fa-camera {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 75px;
    color: #3cb878;
}

.photo-preview.upload.is-dragover:after {
    height: calc(100% - 14px);
    width: calc(100% - 14px);
    top: 7px;
    left: 7px;
    transition: all 100ms ease !important;
}

.photo-preview.upload.is-dragover {
    background-color: transparent;
}

.photo-preview.upload:hover {
    background-color: rgba(200, 218, 223, 0.7);
}

.photo-preview.upload span {
    margin: 0;
    font: 700 42px Helvetica;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.photo-preview.upload img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-preview.upload div.plus-wrapper {
    margin: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
}

.photo-preview.upload div.plus-wrapper div {
    color: #36b977;
}

.photo-preview:not(.upload) .deleteImage {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #F00;
    border-radius: 50%;
    z-index: 5;
    opacity: 0;
    padding: 1px 3px 1px 3px;
    -webkit-transition: opacity 0.3s ease-in-out 0.3s;
    -moz-transition: opacity 0.3s ease-in-out 0.3s;
    transition: opacity 0.3s ease-in-out 0.3s;
}

.deleteImage span {
    color: #f0f0f0;
}

.photo-preview:not(.upload):hover .deleteImage {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.photo-preview:not(.upload):hover .deleteImage:hover {
    opacity: 1;
}

.os-sphere-photos {
    width     : 100%;
    margin-top: 10px;
}

.os-sphere-photos > div {
    width          : 100%;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-between;
}
